.homepage {
   background: rgba(199,199,199,0.649);
   text-align: center;
   width: 100vw;
   height: 100vh;
   position: absolute;
   overflow-x: hidden;
   box-sizing: border-box;
   flex-direction: column;
}
@media (max-width: 1023px) {
   .homepage {
      min-width: 100vw;
      display: flex;
      flex-direction: column;
   }
   .categori {
      min-width: 800px;
   }
}
@media (min-width: 1280px) {
   .homepage {
      display: flex;
      flex-direction: row;
   }
   .categori {
      min-width: 800px;
   }
}
@media (min-width: 1920px) {
   .homepage {
      display: flex;
      flex-direction: row;
   }
   .categori {
      min-width: 1000px;
   }
}