.containertext {
   position: relative;
   width: 100vw;
   top: 4rem;
   font-size: 25px;
   display: flex;
   flex-direction: column;
}
.isi1 {
   width: 90vw;
   position: relative;
   margin: auto;
   font-size: 20px;
   line-height: 23px;
   
}
.isi1 h1 {
   line-height: 30px;
   font-weight: bold;
   font-size: 28px;
}



