.App {
  text-align: center;
  overflow-x: hidden;
  }
  header{
     height: 8%;
  }
  .homepage {
     overflow-x: hidden;
     height: auto;
     width: 100vw;
     border: 1px solid black;
     position: absolute;
     display: flex;
     align-content: center;
     justify-content: center;
     top: 8%;
     z-index: 1000;
  }